/* color palette: https://coolors.co/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644 */

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #9C6644;
}

body {
    background: url("https://www.roosterbrother.com/wp-content/uploads/2017/06/coffee-background-top-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    font-size: 18px;
    margin-left: 40px;
}

hr {
    border: 3px solid #7F5539;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
}


a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 40px;
}

span i {
    margin-right: 15px;
}

li {
    margin-top: 7px;
}

.centered {
    text-align: center;
}

.container {
    background-color: #EDE0D4;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px;
}

.flex-display {
    display: flex;
}

.half {
    flex: 50%;
}

#foto {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#redes-sociales {
    display: flex;
    justify-content: center;
}

i:hover {
    position: relative;
    color: #B08968;
    top: -10px;
}

i:active {
    color: #7F5539;
}

i:focus {
    color: #7F5539;
}

.dato {
    font-size: 18px;
}